parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        # Ignore specific errors if needed
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false